In [1]:
import numpy as np
import pandas as pd
import sklearn

In [2]:
data = pd.read_csv(r'C:\Users\91994\Desktop\git\New folder\dataset\Admission_Predict.csv')

In [3]:
data.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [4]:
data = pd.get_dummies(data,columns=['Research'])

In [5]:
data.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Chance of Admit,Research_0,Research_1
0,1,337,118,4,4.5,4.5,9.65,0.92,0,1
1,2,324,107,4,4.0,4.5,8.87,0.76,0,1
2,3,316,104,3,3.0,3.5,8.00,0.72,0,1
3,4,322,110,3,3.5,2.5,8.67,0.80,0,1
4,5,314,103,2,2.0,3.0,8.21,0.65,1,0

In [6]:
x=data.drop('Research_0',axis=1)

In [7]:
y=data['Research_0']

In [8]:
x

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Chance of Admit,Research_1
0,1,337,118,4,4.5,4.5,9.65,0.92,1
1,2,324,107,4,4.0,4.5,8.87,0.76,1
2,3,316,104,3,3.0,3.5,8.00,0.72,1
3,4,322,110,3,3.5,2.5,8.67,0.80,1
4,5,314,103,2,2.0,3.0,8.21,0.65,0
...,...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,0.82,1
396,397,325,107,3,3.0,3.5,9.11,0.84,1
397,398,330,116,4,5.0,4.5,9.45,0.91,1
398,399,312,103,3,3.5,4.0,8.78,0.67,0
399,400,333,117,4,5.0,4.0,9.66,0.95,1

In [9]:
y

0      0
1      0
2      0
3      0
4      1
      ..
395    0
396    0
397    0
398    1
399    0
Name: Research_0, Length: 400, dtype: uint8

In [10]:
from sklearn.preprocessing import MinMaxScaler
mm = MinMaxScaler()
x_scaled = mm.fit_transform(x)

In [11]:
x_scaled

array([[0.        , 0.94      , 0.92857143, ..., 0.91346154, 0.92063492,
        1.        ],
       [0.00250627, 0.68      , 0.53571429, ..., 0.66346154, 0.66666667,
        1.        ],
       [0.00501253, 0.52      , 0.42857143, ..., 0.38461538, 0.6031746 ,
        1.        ],
       ...,
       [0.99498747, 0.8       , 0.85714286, ..., 0.84935897, 0.9047619 ,
        1.        ],
       [0.99749373, 0.44      , 0.39285714, ..., 0.63461538, 0.52380952,
        0.        ],
       [1.        , 0.86      , 0.89285714, ..., 0.91666667, 0.96825397,
        1.        ]])

In [12]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x_scaled,y,test_size=0.3,random_state=1)

In [13]:
from sklearn.linear_model import LogisticRegression
lor = LogisticRegression()
lor.fit(x_train,y_train)

LogisticRegression()

In [14]:
pred_test = lor.predict(x_test)

In [15]:
pred_test

array([1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 1, 1, 1, 1, 0, 0, 0], dtype=uint8)

In [16]:
y_test

398    1
125    0
328    0
339    0
172    0
      ..
91     1
322    1
248    0
186    0
395    0
Name: Research_0, Length: 120, dtype: uint8